header {
    background: #353636;
    height: 90px;
}

nav {
    margin: 0 auto;
    width: 960px;
}

nav img {
    margin-top: 10px;
    float: left;
    margin-right: 30px;
}

nav ul {
    float: left;
}

li a {
    color: rgb(168, 164, 164);
    text-decoration: none;
}

nav li {
    float: left;
    line-height: 90px;
    margin-right: 90px;
    list-style-type: none;
}

main {
    width: 960px;
    margin: 0 auto;
}

article#up img {
    padding: 30px 80px 30px 0px;
}

.down {
    display: flex;
    padding-left: 0px;
}

.down img {
    padding: 0px 30px 0px 0px;
}

.featuredHeading {
    clear: both;
    display: flex;
    padding: 30px 0px 30px 0px;
}

.featuredHeading .right {
    color: black;
    height: inherit;
    overflow: hidden;
    width: 50%;
    height: 400px;
    padding-left: 30px;
}

.featuredHeading .left {
    width: 50%;
}

.right .text {
    overflow: scroll;
    height: 350px;
    padding-right: 0;
    text-align: justify;
}

.text p {
    width: 450px;
}

.right h5 {
    font-weight: bold;
    font-size: x-large;
}

.right .text::-webkit-scrollbar {
    display: none;
}

.right .text {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

footer {
    background: #353636;
    height: 90px;
}

footer p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(168, 164, 164);
    padding-top: 35px;
    text-align: center;
}